In [72]:
import pyforest

In [73]:
dataset=pd.read_csv(R"C:\Users\Sri_Harshitha\Downloads\50_Startups.csv")

In [74]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [75]:
states=pd.get_dummies(dataset["State"],drop_first=True)

In [76]:
dataset=dataset.drop("State",axis=1)

In [77]:
dataset=pd.concat([dataset,states],axis=1)

In [78]:
dataset.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [79]:
from sklearn.linear_model import LinearRegression

In [80]:
model=LinearRegression()

In [81]:
x=dataset.drop("Profit",axis=1)

In [82]:
y=dataset["Profit"]

In [83]:
from sklearn.model_selection import train_test_split

In [84]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [85]:
model.fit(x_train,y_train)

LinearRegression()

In [86]:
y_pred=model.predict(x_test)

In [87]:
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [88]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [89]:
score

0.9347068473282423